*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: grid;
  height: 100vh;
  width: 100%;
  place-content: center;
}
.container
{
  height: 300px;
  width: 250px;
  border: none;
  display: grid;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.596);
  box-shadow: inset 0 0 10px white , 0 0 20px black;
  position: relative;
}
#in , #out
{
  height: 100px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid white;
  outline: none;
  padding: 10px;
  font-size: 1.3rem;
  box-shadow: inset 0 0 10px;
  resize: none;
}
#in::placeholder
{
  color: black;
  font-size: 1rem;
}
#in::-webkit-scrollbar , #out::-webkit-scrollbar
{
  width: 0;
}
.buttons
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px
}
.buttons button 
{
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: .4s;
}
.buttons button:focus
{
  background-color: rgba(0, 0, 0, 0.164);
  transform: scale(.9);
  color: white;
  border: 1px solid white
}
#alert
{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50% , -50%);
  height: 50px;
  width: 100px;
  background-color: green;
  border-radius: 20px;
  align-content: center;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  box-shadow: inset 0 0 10px rgb(136, 133, 133) , 0 0 10px black;
  border: 1px solid ;
  letter-spacing: 3px;
  font-family: sans-serif;
  font-weight: 600;
  opacity: 0;
  transition: .5s;
}
.show
{
  opacity: 1;
}